ul li.logo {
    list-style: none;
    font-size: 2rem;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 8px;
    padding-left: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
}

h1, h2, h3 {
    background-color: black;
    padding-left: 10px;
    border-radius: 8px;
    color: white;
}
a {
    color: blue;
}

body {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}